/***** SLIDER STYLES *****/
/*************************/

.onebyone-slider { margin: 25px auto; width: 980px; height: 420px; position: relative; }

.onebyone-slider2 { margin: auto; width: 980px; height: 420px; position: relative; }
.onebyone-slider2 .arrowButton .prevArrow { bottom: 10px; right: 58px; }
.onebyone-slider2 .arrowButton .nextArrow { bottom: 10px; right: 10px; }
.onebyone-slider2 .buttonCon { bottom: -10px; }

.byone-slider { position: absolute; top: 0; left: 0; }     
.byone-slider .oneByOne_item { position: absolute; width: 980px; height: 420px; overflow: hidden; display: none; }    

.slideimg1-1 { position: absolute; right: 0; bottom: 60px; }
.slidetxt1-1 { position: absolute; font-size: 38px; top: 0; left: -1px; }
.slidetxt1-2 { position: absolute; font-size: 24px; top: 50px; left: 0; }
.slidetxt1-3 { position: absolute; top: 100px; left: 0; font-size: 12px; line-height: 21px; width: 550px; }
.slidetxt1-4 { position: absolute; top: 205px; left: 0; }

.slideimg2-1 { position: absolute; top: 0; left: 0; }
.slidetxt2-1 { position: absolute; font-size: 28px; top: 0; right: 355px; text-transform: uppercase; color: #333; }
.slidetxt2-2 { position: absolute; font-size: 90px; top: 55px; right: 155px; text-transform: uppercase; z-index: 50; color: #fff; }
.slidebg2-1 { 
	position: absolute; top: 41px; right: 0; width: 600px; height: 64px; z-index: 40; 
	-moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px;
}
.slidetxt2-3 { position: absolute; font-size: 24px; top: 115px; right: 0; }
.slidetxt2-4 { position: absolute; font-size: 12px; top: 160px; right: 0; width: 500px; text-align: right; color: #666; }
.slidetxt2-5 { position: absolute; top: 285px; right: 0; }

.slideimg3-1 { position: absolute; bottom: 0; right: 80px; }
.slidebg3-1 { 
	position: absolute; width: 650px; height: 70px; background: #666; top: 0; left: 0; -moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0;
}
.slidebg3-2 { 
	position: absolute; top: 75px; left: 0; width: 550px; height: 50px; -moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0;
}
.slidetxt3-1 { position: absolute; font-size: 60px; text-transform: uppercase; color: #fff; top: 15px; left: 10px; }
.slidetxt3-2 { position: absolute; font-size: 32px; top: 85px; left: 20px; }
.slidetxt3-3 { position: absolute; font-size: 12px; line-height: 21px; top: 155px; left: 0; width: 450px; }
.slidetxt3-4 { position: absolute; top: 260px; left: 0; }

/* index2.html */
.slideimg4-1, .slideimg5-1, .slideimg6-1 { position: absolute; top: 0; left: 0; width: 100%; }

.slidebg4-1 { position: absolute; bottom: 10px; left: 10px; width: 500px; height: 210px; background: url(../images/transblack.png); }
.slidetxt4-1 { position: absolute; top: 210px; left: 30px; color: #fff; font-size: 36px; }
.slidetxt4-2 { position: absolute; top: 250px; left: 30px; font-size: 16px; }
.slidetxt4-3 { position: absolute; top: 290px; left: 30px; color: #ccc; width: 460px; }
.slidetxt4-4 { position: absolute; top: 345px; left: 30px; }

.slidebg5-1 { position: absolute; top: 0; left: 0; width: 350px; height: 420px; background: url(../images/transblack.png); }
.slidetxt5-1 { position: absolute; top: 20px; left: 20px; color: #fff; font-size: 24px; }
.slidetxt5-2 { position: absolute; top: 70px; left: 20px; color: #bbb; width: 320px; }
.slidetxt5-3 { position: absolute; top: 220px; left: 20px; display: block; width: 310px; }
.slidetxt5-3 a { display: block; text-align: center; text-transform: uppercase; }

.slidebg6-1 { position: absolute; width: 980px; height: 100px; bottom: 0; left: 0; background: url(../images/transblack.png); }
.slidetxt6-1 { position: absolute; bottom: 45px; left: 20px; color: #fff; font-size: 28px; }
.slidetxt6-2 { position: absolute; bottom: 20px; left: 20px; font-size: 18px; }

.slidebg6-1 { height: 80px; }
.slidetxt6-1 { bottom: 35px; left: 15px; font-size: 22px; }
.slidetxt6-2 { bottom: 15px; left: 15px; font-size: 15px; }

.slideimg7-1 { position: absolute; bottom: 0; right: 40px; }
.slideimg7-2 { position: absolute; left: 290px; top: 210px; }
.slidetxt7-1, .slidetxt7-2, .slidetxt7-3, 
.slidetxt7-4, .slidetxt7-5 { font-size: 24px; font-style: italic; color: #333; position: absolute; }
.slidetxt7-1, .slidetxt7-2, .slidetxt7-3 { top: 80px; }
.slidetxt7-1 { left: 50px; }
.slidetxt7-2 { left: 193px; }
.slidetxt7-3 { left: 291px; }
.slidetxt7-4 { top: 115px; left: 200px; }
.slidetxt7-5 { left: 320px; top: 180px; }

.slideimg8-1 { position: absolute; top: 0; left: 0; }
.slidetxt8-1 { position: absolute; top: 0; right: 0; font-size: 32px; color: #333; }
.slidetxt8-2 { position: absolute; top: 50px; right: 0; width: 280px; text-align: right; font-size: 12px; line-height: 21px; }
.slidetxt8-3 { position: absolute; top: 190px; right: 0; }

.slideimg9-1 { position: absolute; top: 0; left: 0; width: 100%; }
.slidebg9-1 { position: absolute; bottom: 10px; left: 10px; width: 450px; height: 100px; background: url(../images/transblack.png); }
.slidetxt9-1 { position: absolute; bottom: 55px; left: 30px; color: #fff; font-size: 36px; }
.slidetxt9-2 { position: absolute; bottom: 25px; left: 30px; font-size: 16px; }

.slideimg10-1 { position: absolute; top: 0; left: 0; width: 100%; }
.slideimg10-2 { position: absolute; top: 20px; left: 280px; z-index: 10; }
.slideimg10-3 { position: absolute; top: 43px; left: 495px; z-index: 5; }

/* custom style from jquery.onebyone.css */
.arrowButton div { opacity: 0.8; }
.arrowButton div:hover { opacity: 1; }

/***** MEDIA QUERIES *****/
/*************************/

/* 1024 screens */
@media only screen and (min-width: 960px) and (max-width: 1024px) {
		
	.onebyone-slider, .onebyone-slider2, .byone-slider .oneByOne_item, .byone-slider { width: 860px; }
	.onebyone-slider2, .onebyone-slider2 .byone-slider .oneByOne_item, onebyone-slider2 .byone-slider { height: 370px; }
	
	/* slider for index.html */
	.slidebg2-1 { width: 490px; }
	.slidetxt2-1 { right: 250px; }
	.slidetxt2-2 { right: 50px; }
	.slidetxt2-4 { width: 430px; font-size: 11px; line-height: 18px; } 
	.slidetxt2-5 { top: 295px; }
	
	.slideimg1-1 { width: 700px; }
	
	.slideimg3-1 { right: 0; }
	.slidebg3-1 { width: 500px; }
	.slidetxt3-1 { font-size: 50px; top: 17px; }
	.slidebg3-2 { width: 450px; height: 45px; }
	.slidetxt3-2 { font-size: 26px; left: 10px; top: 83px; }
	.slidetxt3-3 { top: 135px; font-size: 11px; line-height: 18px; width: 370px; }
	.slidetxt3-4 { top: 240px; }

	.slideimg8-1 { width: 560px; top: 30px; }
		
	/* slider for index2.html */
	.slidetxt4-1 { top: 165px; }
	.slidetxt4-2 { top: 205px; }
	.slidetxt4-3 { width: 460px; top: 240px; }
	.slidetxt4-4 { top: 305px; }
	
	.slidebg5-1 { height: 369px; }
	.slidebg6-1 { width: 860px; }
	.slideimg7-1 { right: 0; }
	.slideimg7-2 { left: 210px; }
	.slidetxt7-1 { left: 0; }
	.slidetxt7-2 { left: 144px; }
	.slidetxt7-3 { left: 241px; }
	.slidetxt7-4 { left: 120px; }
	.slidetxt7-5 { left: 240px; }

	.slideimg10-2 { position: absolute; width: 248px; top: 14px; left: 246px; z-index: 10; }
	.slideimg10-3 { position: absolute; width: 228px; top: 38px; left: 434px; z-index: 5; }

}

/* iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	.onebyone-slider, .onebyone-slider2, .byone-slider .oneByOne_item, .byone-slider { width: 718px; }
	.onebyone-slider, .byone-slider .oneByOne_item { height: 350px; }
	.onebyone-slider { margin: 0 auto 20px auto; }
	
	.onebyone-slider2, .onebyone-slider2 .byone-slider .oneByOne_item { width: 718px; height: 308px; }
	
	/* slider in index.html */
	.slideimg1-1 { width: 550px; bottom: 50px; }
	.slidetxt1-1 { font-size: 32px; }
	.slidetxt1-2 { font-size: 22px; top: 40px; }
	.slidetxt1-3 { top: 80px; width: 400px; font-size: 11px; line-height: 18px; }
	.slidetxt1-4 { top: 180px; }
	
	.slideimg2-1 { top: auto; bottom: 0; width: 400px; }
	.slidebg2-1 { width: 400px; height: 50px; top: 30px; }
	.slidetxt2-1 { right: 255px; font-size: 20px; right: 228px; }
	.slidetxt2-2 { top: 37px; font-size: 70px; right: 55px; }
	.slidetxt2-3 { top: 85px; font-size: 20px; }
	.slidetxt2-4 { top: 125px; font-size: 11px; line-height: 18px; width: 400px; }
	.slidetxt2-5 { top: 248px; }
	
	.slideimg3-1 { right: 0; width: 370px; }
	.slidebg3-1 { width: 500px; }
	.slidetxt3-1 { font-size: 50px; top: 17px; }
	.slidebg3-2 { width: 450px; height: 45px; }
	.slidetxt3-2 { font-size: 26px; left: 10px; top: 83px; }
	.slidetxt3-3 { top: 135px; font-size: 11px; line-height: 18px; width: 340px; }
	.slidetxt3-4 { top: 240px; }
	
	.slideimg8-1 { width: 450px; top: 30px; }
	.slidetxt8-1 { top: 20px; }
	.slidetxt8-2 { width: 250px; top: 60px; font-size: 11px; line-height: 18px; }
	.slidetxt8-3 { top: 210px; }
	
	/* slider in index2.html */
	.slidebg4-1 { height: 220px; width: 400px; }
	.slidetxt4-1 { font-size: 28px; top: 90px; }
	.slidetxt4-2 { top: 120px; font-size: 15px; }
	.slidetxt4-3 { top: 160px; width: 350px; }
	.slidetxt4-4 { top: 240px; }
	
	.slidebg5-1 { width: 320px; height: 308px; }
	.slidetxt5-1 { font-size: 20px; top: 10px; }
	.slidetxt5-2 { top: 55px; width: 280px; }
	.slidetxt5-3 { width: 280px; }
	
	.slidebg6-1 { width: 718px; }
	
	.slideimg7-1 { width: 320px; right: 0; }
	.slideimg7-2 { left: 150px; }
	.slidetxt7-1, .slidetxt7-2, .slidetxt7-3, 
	.slidetxt7-4, .slidetxt7-5 { font-size: 20px; }
	.slidetxt7-1 { left: 10px; }
	.slidetxt7-2 { left: 130px; }
	.slidetxt7-3 { left: 211px; }
	.slidetxt7-4 { left: 120px; }
	.slidetxt7-5 { left: 220px; }
	
	.slideimg10-2 { position: absolute; width: 206px; top: 12px; left: 206px; z-index: 10; }
	.slideimg10-3 { position: absolute; width: 189px; top: 33px; left: 363px; z-index: 5; }

}

/* iPhone Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.onebyone-slider, .onebyone-slider2, .byone-slider .oneByOne_item, .byone-slider { width: 430px; }
	.onebyone-slider, .byone-slider .oneByOne_item { height: 250px; }
	.onebyone-slider { margin: 0 auto 20px auto; }
	
	.onebyone-slider2, .onebyone-slider2 .byone-slider .oneByOne_item { width: 430px; height: 184px; }
	
	.arrowButton .nextArrow { width: 32px; height: 32px; background-image: url(../../images/onebyone/next_small.png); right: 0; }
	.arrowButton .prevArrow { 
		width: 32px; height: 32px; background-image: url(../../images/onebyone/prev_small.png); right: 33px; 
	}
	
	/* slider in index.html */
	.slideimg1-1 { width: 380px; bottom: 50px; right: 0; }
	.slidetxt1-1 { font-size: 18px; left: 0; }
	.slidetxt1-2 { font-size: 12px; top: 30px; left: 0; }
	.slidetxt1-3 { top: 80px; width: 400px; font-size: 13px; line-height: 21px; visibility: hidden; opacity: 0; }
	.slidetxt1-4 { top: 75px; left: 0; }
	
	.slideimg2-1 { top: 0; bottom: auto; left: 0; width: 300px; }
	.slidebg2-1 { width: 215px; height: 52px; top: 30px; right: 0; }
	.slidetxt2-1 { right: 40px; font-size: 20px; }
	.slidetxt2-2 { top: 37px; font-size: 40px; right: 12px; }
	.slidetxt2-3 { top: 85px; font-size: 16px; right: 0; }
	.slidetxt2-4 { visibility: hidden; opacity: 0; }
	.slidetxt2-5 { top: 125px; right: 0; }
	
	.slideimg3-1 { right: 0; width: 280px; }
	.slidebg3-1 { width: 260px; left: 0; height: 50px; }
	.slidebg3-2 { top: 55px; }
	.slidetxt3-1 { font-size: 25px; top: 6px; left: 10px; }
	.slidebg3-2 { width: 250px; height: 35px; left: 0; }
	.slidetxt3-2 { font-size: 15px; left: 10px; top: 58px; }
	.slidetxt3-3 { visibility: hidden; opacity: 0; }
	.slidetxt3-4 { top: 120px; left: 0; }
	
	.slideimg8-1 { width: 250px; top: 20px; }
	.slidetxt8-1 { font-size: 18px; top: 20px; }
	.slidetxt8-2 { font-size: 10px; width: 150px; line-height: 14px; }

	/* slider in index2.html */
	.slidebg4-1 { height: 125px; width: 250px; top: 50px; }
	.slidetxt4-1 { font-size: 15px; top: 50px; left: 20px; }
	.slidetxt4-2 { top: 80px; font-size: 12px; left: 20px; width: 230px; line-height: 18px; }
	.slidetxt4-3 { opacity: 0; visibility: hidden; }
	.slidetxt4-4 { top: 130px; left: 20px; }
	
	.slidebg5-1 { width: 230px; height: 116px; }
	.slidetxt5-1 { font-size: 14px; top: 6px; }
	.slidetxt5-2 { opacity: 0; visibility: hidden; }
	.slidetxt5-3 { width: 190px; left: 20px; top: 50px; }
	.slidetxt5-3 a { font-size: 11px; padding: 5px; }
	
	.slidebg6-1 { width: 718px; }
	.slidetxt6-1 { font-size: 14px; }
	.slidetxt6-2 { font-size: 11px; line-height: 16px; bottom: 12px; }
	
	.slideimg7-1 { width: 220px; right: 0; }
	.slideimg7-2 { left: 40px; top: 135px; width: 150px; }
	.slidetxt7-1, .slidetxt7-2, .slidetxt7-3, 
	.slidetxt7-4, .slidetxt7-5 { font-size: 16px; }
	.slidetxt7-1 { left: 0; top: 20px; }
	.slidetxt7-2 { left: 95px; top: 20px; }
	.slidetxt7-3 { left: 50px; top: 40px; }
	.slidetxt7-4 { left: 0; top: 60px; }
	.slidetxt7-5 { left: 70px; top: 110px; }
	
	.slidebg9-1 { width: 250px; height: 60px; }
	.slidetxt9-1 { bottom: 30px; font-size: 16px; left: 20px; }
	.slidetxt9-2 { font-size: 10px; bottom: 15px; left: 20px; }
	
	.slideimg10-2 { position: absolute; width: 124px; top: 7px; left: 123px; z-index: 10; }
	.slideimg10-3 { position: absolute; width: 114px; top: 19px; left: 217px; z-index: 5; }
		
}

/* iPhone Portrait */
@media screen and (max-width: 479px) {
	
	.onebyone-slider, .onebyone-slider2, .byone-slider .oneByOne_item, .byone-slider { width: 280px; }
	.onebyone-slider, .byone-slider .oneByOne_item { height: 170px; }
	.onebyone-slider { margin: 0 auto 20px auto; }
	
	.onebyone-slider2, .onebyone-slider2 .byone-slider .oneByOne_item { width: 280px; height: 120px; }
	
	.arrowButton .nextArrow { width: 32px; height: 32px; background-image: url(../../images/onebyone/next_small.png); right: 0; }
	.arrowButton .prevArrow { 
		width: 32px; height: 32px; background-image: url(../../images/onebyone/prev_small.png); right: 33px; 
	}
	.onebyone-slider2 .arrowButton .prevArrow { bottom: 5px; right: 41px; }
	.onebyone-slider2 .arrowButton .nextArrow { bottom: 5px; right: 5px; }
	
	/* slider in index.html */
	.slideimg1-1 { width: 220px; bottom: 20px; right: 0; }
	.slidetxt1-1 { font-size: 16px; left: 0; }
	.slidetxt1-2 { font-size: 11px; top: 20px; left: 0; }
	.slidetxt1-3 { top: 80px; width: 400px; font-size: 13px; line-height: 21px; visibility: hidden; opacity: 0; }
	.slidetxt1-4 { top: 50px; left: 0; }
	.slidetxt1-4 a { padding: 3px 10px; font-size: 10px; }
	
	.slideimg2-1 { top: 0; bottom: auto; left: 0; width: 200px; }
	.slidebg2-1 { width: 115px; height: 32px; top: 30px; right: 0; }
	.slidetxt2-1 { right: 0; font-size: 12px; }
	.slidetxt2-2 { top: 27px; font-size: 20px; right: 10px; }
	.slidetxt2-3 { top: 60px; font-size: 11px; right: 0; }
	.slidetxt2-4 { visibility: hidden; opacity: 0; }
	.slidetxt2-5 { top: 90px; right: 0; }
	.slidetxt2-5 a { padding: 3px 5px; font-size: 11px; }
	
	.slideimg3-1 { right: 0; width: 190px; }
	.slidebg3-1 { width: 180px; left: 0; height: 30px; }
	.slidebg3-2 { top: 35px; }
	.slidetxt3-1 { font-size: 16px; left: 10px; top: -4px; }
	.slidebg3-2 { width: 160px; height: 25px; left: 0; }
	.slidetxt3-2 { font-size: 9px; left: 10px; top: 34px; }
	.slidetxt3-3 { visibility: hidden; opacity: 0; }
	.slidetxt3-4 { top: 75px; left: 0; }
	.slidetxt3-4 a { padding: 3px 10px; font-size: 10px; }
	
	.slideimg8-1 { width: 160px; left: 60px; top: 30px; }
	.slidetxt8-1 { font-size: 18px; top: 0; right: 50px; }
	.slidetxt8-2 { visibility: hidden; opacity: 0; }
	.slidetxt8-3 { top: auto; bottom: 0; right: 80px; }
	.slidetxt8-3 a { padding: 3px 20px; }

	/* slider in index2.html */
	.slidebg4-1 { height: 90px; width: 250px; top: 25px; left: 5px; }
	.slidetxt4-1 { font-size: 12px; top: 22px; left: 15px; }
	.slidetxt4-2 { top: 50px; font-size: 10px; left: 15px; width: 230px; line-height: 18px; }
	.slidetxt4-3 { opacity: 0; visibility: hidden; }
	.slidetxt4-4 { top: 75px; left: 15px; }
	.slidetxt4-4 a { padding: 3px 10px; font-size: 10px; }
	
	.slidebg5-1 { width: 180px; height: 120px; }
	.slidetxt5-1 { font-size: 12px; top: 0; line-height: auto; width: 180px; left: 15px; line-height: auto; }
	.slidetxt5-2 { opacity: 0; visibility: hidden; }
	.slidetxt5-3 { width: 150px; left: 15px; top: 40px; }
	.slidetxt5-3 a { font-size: 11px; padding: 5px; }
	
	.slidebg6-1 { width: 718px; }
	.slidetxt6-1 { font-size: 12px; line-height: 16px; left: 10px; bottom: 40px; }
	.slidetxt6-2 { font-size: 10px; line-height: 14px; bottom: 10px; left: 10px; }
		
	.slideimg7-1 { width: 132px; right: 0; }
	.slideimg7-2 { left: 5px; top: 80px; width: 120px; }
	.slidetxt7-1, .slidetxt7-2, .slidetxt7-3, 
	.slidetxt7-4, .slidetxt7-5 { font-size: 14px; top: 0; }
	.slidetxt7-1 { left: 0; }
	.slidetxt7-2 { left: 85px; }
	.slidetxt7-3 { left: 143px; }
	.slidetxt7-4 { left: 0; top: 20px; }
	.slidetxt7-5 { left: 20px; top: 60px; }
	
	.slidebg9-1 { width: 150px; left: 5px; bottom: 5px; height: 28px; }
	.slidetxt9-1 { bottom: 0; font-size: 12px; left: 15px; line-height: auto; }
	.slidetxt9-2 { visibility: hidden; opacity: 0; }
	
	.slideimg10-2 { position: absolute; width: 81px; top: 4px; left: 80px; z-index: 10; }
	.slideimg10-3 { position: absolute; width: 73px; top: 13px; left: 142px; z-index: 5; }

	/* radius */
	.slidebg2-1, .slidebg3-1 { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

}