<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4294967295" maxAllowedContentLength="4294967295" maxUrl="98192" />
      </requestFiltering>
    </security>

    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>  

    
  </system.webServer>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="securelogin.aspx" timeout="2880" defaultUrl="personalinformation.aspx" />
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="40960" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <customErrors mode="Off" />
    <machineKey validationKey="54E4EF25E759F21ED88C28A9D3DF173007D4ACD4C8236858D51024E8217534064E9639F9EA1DFAACB809302CDA7D4420F0FE37DD2E17656628E258A394854F77" decryptionKey="89E7217CA4741FEBE45863EBCB2318BD00D1B295AC54FA34" validation="SHA1" />
  </system.web>
  <location path="Users">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="ConfirmationEmail" value="ConfirmationEmail.txt" />
    <add key="ForgotPassword" value="Forgot_Password.txt" />
    <add key="TaxInfo" value="TaxInfo.txt" />
    <add key="CheckList" value="CheckListEmail.txt" />
    <add key="ContactUs" value="ContactUs.txt" />
    <add key="DocumentsUploaded" value="Documentsinfo.txt" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="EncryptionKey" value="TaxesByRadha" />
    <add key="ErrorNotification" value="ErrorNotification.txt" />
    <add key="ContractAcceptanceTemplateFileName" value="ContractAcceptance.txt" />
    <add key="AttachmentDocumentName1" value="TR_PrivacyPolicy.PDF" />
    <add key="AttachmentDocumentName2" value="TR_TermAndConditions.PDF" />
  </appSettings>
  <connectionStrings>
    <!-- <add name="ConnectionString" connectionString="Server=50.63.56.222,1041;Initial Catalog=TaxesByRadha;UId=TeamIndia;Password=Rubix@)!@;Connection Lifetime=360;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Server=taxesbyradha.cdgsz1sdu5ve.us-west-1.rds.amazonaws.com;Initial Catalog=TaxesByRadha;UId=taxesbyradha;Password=Taxesbyradha1#;Connection Lifetime=360;" providerName="System.Data.SqlClient" />
    <!-- <add name="ConnectionString" connectionString="Server=tejdeep.db.10346622.hostedresource.com ;Initial Catalog=tejdeep;UId=tejdeep;Password=Edcvfr@345;Connection Lifetime=360;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <location path="Users/Export.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Users/Export1.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
    <location path="web.config">
        <connectionStrings>
            <remove name="ConnectionString" />
            <add connectionString="Server=taxesbyradha.cdgsz1sdu5ve.us-west-1.rds.amazonaws.com;Database=TaxesByRadha;User ID=taxesbyradha;Password=Taxesbyradha1#" name="ConnectionString" providerName="System.Data.SqlClient" />
        </connectionStrings>
        <system.web>
            <identity impersonate="true" />
        </system.web>
    </location>
</configuration>